
# Author    KMS - Martin Dubois, P. Eng.
# Copyright (C) 2023-2024 KMS
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   KMS-Framework
# File      KMS-Import.cfg

LinuxDependencies += KMS-Framework;1.1.5-dev

WindowsDependencies += KMS-Framework;1.1.7-dev

OSIndependentDeps += KMS-Tools;0.0.0-front-end

Stats_Console
